---
swagger: "2.0"
info:
  description: "Form Recognizer extracts information from forms and images into structured\
    \ data.  It includes the following options:\r\n* Form - Extracts information from\
    \ forms (PDFs and images) into structured data based on a model created from a\
    \ set of representative training forms. Form Recognizer learns the structure of\
    \ your forms to intelligently extract text and data. It ingests text from forms,\
    \ applies machine learning technology to identify keys, tables, and fields, and\
    \ then outputs structured data that includes the relationships within the original\
    \ file.\r\n* Receipt - Detects and extracts data from receipts using optical character\
    \ recognition (OCR) and our receipt model, enabling you to easily extract structured\
    \ data from receipts such as merchant name, merchant phone number, transaction\
    \ date, transaction total, and more.\r\n* Business Card - Detects and extracts\
    \ data from business cards using optical character recognition (OCR) and our business\
    \ card model, enabling you to easily extract structured data from business cards\
    \ such as contact names, company names, phone numbers, emails, and more.\r\n*\
    \ Layout - Extracts text and table structure from documents using optical character\
    \ recognition (OCR).\r\n* Invoices - Detects and extracts data from invoices using\
    \ optical character recognition (OCR) and our invoice understanding deep learning\
    \ models, enabling you to easily extract structured data from invoices such as\
    \ customer, vendor, invoice ID, invoice due date, total, invoice amount due, tax\
    \ amount, ship to, bill to, line items and more.\r\n* ID Documents - Detects and\
    \ extracts data from identification documents using optical character recognition\
    \ (OCR) and our ID document model, enabling you to easily extract structured data\
    \ from ID documents such as first name, last name, date of birth, document number,\
    \ and more."
  version: "v2.1-preview.3"
  title: "Form Recognizer API (v2.1-preview.3)"
host: "westus.api.cognitive.microsoft.com"
basePath: "/formrecognizer/v2.1-preview.3"
tags: []
schemes:
- "https"
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /layout/analyze:
    post:
      summary: "Analyze Layout - Analyze Layout"
      description: "Extract text and layout information from a given document. The\
        \ input document must be of one of the supported content types - 'application/pdf',\
        \ 'image/jpeg', 'image/png' or 'image/tiff'. Alternatively, use 'application/json'\
        \ type to specify the Url location of the document to be analyzed.\r\n<br>\r\
        \nSupported languages: The Layout API is currently only available for Dutch,\
        \ English, French, German, Italian, Japanese, Portuguese, Simplified Chinese\
        \ and Spanish."
      operationId: "AnalyzeLayoutAsync"
      consumes:
      - "application/json"
      - "application/pdf"
      - "image/jpeg"
      - "image/png"
      - "image/tiff"
      produces:
      - "application/json"
      parameters:
      - name: "language"
        in: "query"
        description: "The BCP-47 language code of the text in the document. Currently,\
          \ only Afrikaans (‘af’), Albanian (‘sq’), Asturian (‘ast’), Basque (‘eu’\
          ), Bislama (‘bi’), Breton (‘br’), Catalan (‘ca’), Cebuano (‘ceb’), Chamorro\
          \ (‘ch’), Cornish (‘kw’), Corsican (‘co’), Crimean Tatar - Latin script(‘\
          crh’), Czech (‘cs’), Danish (‘da’), Dutch (‘nl’), English ('en'), Estonian\
          \ (‘et’), Fijian (‘fj’), Filipino (‘fil’), Finnish (‘fi’), French (‘fr’\
          ), Friulian (‘fur’), Galician (‘gl’), German (‘de’), Gilbertese (‘gil’),\
          \ Greenlandic (‘kl’), Haitian Creole (‘ht’), Hani (‘hni’), Hmong Daw (‘\
          mww’), Hungarian (‘hu’), Indonesian (‘id’), Interlingua (‘ia’), Inuktitut\
          \ (‘iu’), Irish (‘ga’), Italian (‘it’), Japanese (‘ja’), Javanese (‘jv’\
          ), Kabuverdianu (‘kea’), Kachin (‘kac’), Kara-Kalpak (‘kaa’), Kashubian\
          \ (‘csb’), Khasi (‘kha’), Korean (‘ko’), Kurdish - Latin script (‘ku’),\
          \ K’iche’ (‘quc’), Luxembourgish (‘lb’), Malay (‘ms’), Manx (‘gv’), Neapolitan\
          \ (‘nap’), Norwegian (‘no’), Occitan (‘oc’), Polish (‘pl’), Portuguese (‘\
          pt’), Romansh (‘rm’), Scots (‘sco’), Scottish Gaelic (‘gd’), simplified\
          \ Chinese (‘zh-Hans’), Slovenian (‘sl’), Spanish (‘es’), Swahili (‘sw’),\
          \ Swedish (‘sv’), Tatar - Latin script (‘tt’), Tetum (‘tet’), traditional\
          \ Chinese (‘zh-Hant’), Turkish (‘tr’), Upper Sorbian (‘hsb’), Uzbek (‘uz’\
          ), Volapük (‘vo’), Walser (‘wae’), Western Frisian (‘fy’), Yucatec Maya\
          \ (‘yua’), Zhuang (‘za’) and Zulu (‘zu’) are supported (print – seventy-three\
          \ languages and handwritten – English only). Layout supports auto language\
          \ identification and multilanguage documents, so only provide a language\
          \ code if you would like to force the documented to be processed as that\
          \ specific language."
        required: false
        type: "string"
        enum:
        - "af"
        - "ast"
        - "bi"
        - "br"
        - "ca"
        - "ceb"
        - "ch"
        - "co"
        - "crh"
        - "cs"
        - "csb"
        - "da"
        - "de"
        - "en"
        - "es"
        - "et"
        - "eu"
        - "fi"
        - "fil"
        - "fj"
        - "fr"
        - "fur"
        - "fy"
        - "ga"
        - "gd"
        - "gil"
        - "gl"
        - "gv"
        - "hni"
        - "hsb"
        - "ht"
        - "hu"
        - "ia"
        - "id"
        - "it"
        - "iu"
        - "ja"
        - "jv"
        - "kaa"
        - "kac"
        - "kea"
        - "kha"
        - "kl"
        - "ko"
        - "ku"
        - "kw"
        - "lb"
        - "ms"
        - "mww"
        - "nap"
        - "nl"
        - "no"
        - "oc"
        - "pl"
        - "pt"
        - "quc"
        - "rm"
        - "sco"
        - "sl"
        - "sq"
        - "sv"
        - "sw"
        - "tet"
        - "tr"
        - "tt"
        - "uz"
        - "vo"
        - "wae"
        - "yua"
        - "za"
        - "zh-Hans"
        - "zh-Hant"
        - "zu"
      - name: "pages"
        in: "query"
        description: "The page selection only leveraged for multi-page PDF and TIFF\
          \ documents. Accepted input include single pages (e.g.'1, 2' -> pages 1\
          \ and 2 will be processed), finite (e.g. '2-5' -> pages 2 to 5 will be processed)\
          \ and open-ended ranges (e.g. '5-' -> all the pages from page 5 will be\
          \ processed & e.g. '-10' -> pages 1 to 10 will be processed). All of these\
          \ can be mixed together and ranges are allowed to overlap (eg. '-5, 1, 3,\
          \ 5-10' - pages 1 to 10 will be processed). The service will accept the\
          \ request if it can process at least one page of the document (e.g. using\
          \ '5-100' on a 5 page document is a valid input where page 5 will be processed).\
          \ If no page range is provided, the entire document will be processed."
        required: false
        type: "string"
      - name: "readingOrder"
        in: "query"
        description: "Optional parameter to specify which reading order algorithm\
          \ should be applied when ordering the extract text elements. Can be either\
          \ 'basic' or 'natural'. Will default to basic if not specified"
        required: false
        type: "string"
        enum:
        - "basic"
        - "natural"
      - in: "body"
        name: "sourcePath"
        description: ".json, .pdf, .jpg, .png or .tiff type file stream."
        required: false
        schema:
          $ref: "#/definitions/SourcePath"
      responses:
        "202":
          description: "The service has accepted the request and will start processing\
            \ soon.  The client can query the operation status and result using the\
            \ URL specified in the 'Operation-Location' response header.  The URL\
            \ expires in 24 hours.\r\n<br/>\r\n<table class=\"element table\">\r\n\
            \    <thead/>\r\n    <tbody>\r\n        <tr>\r\n            <td>\r\n \
            \               <b>Operation-Location</b>\r\n            </td>\r\n   \
            \         <td>\r\n                URL containing the resultId used to\
            \ track the progress and obtain the result of the analyze operation.\r\
            \n                <br/>\r\n                Example: https://cognitiveservice/formrecognizer/v2.1-preview.3/layout/analyzeResults/{resultId}\r\
            \n            </td>\r\n        </tr>\r\n    </tbody>\r\n</table>\r\n<br/>\r\
            \nSample Response Header:\r\n<p><code>Content-Length: 0\r\nOperation-Location:\
            \ https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/layout/analyzeResults/4ebd1503-3c14-4f90-9127-da0ecfec7bcd\r\
            \napim-request-id: 4ebd1503-3c14-4f90-9127-da0ecfec7bcd\r\nDate: Fri,\
            \ 04 Sep 2020 10:22:17 GMT\r\n</code></p>"
          headers:
            Operation-Location:
              type: "string"
              description: "URL containing the resultId used to track the progress\
                \ and obtain the result of the analyze operation."
          schema:
            $ref: "#/definitions/AnalyzeOperationResult"
        "400":
          description: "Bad request error. Detailed error code and message are specified\
            \ in the JSON response:\r\n<table class=\"element table\">\r\n    <thead>\r\
            \n        <tr>\r\n            <th>Error Code</th>\r\n            <th>Description</th>\r\
            \n        </tr>\r\n    </thead>\r\n    <tbody>\r\n        <tr>\r\n   \
            \         <td>BadArgument</td>\r\n            <td>Bad or unrecognizable\
            \ request JSON or binary file.</td>\r\n        </tr>\r\n        <tr>\r\
            \n            <td>InvalidImageURL</td>\r\n            <td>Image URL is\
            \ badly formatted.</td>\r\n        </tr>\r\n        <tr>\r\n         \
            \   <td>FailedToDownloadImage</td>\r\n            <td>Failed to download\
            \ image from input URL.</td>\r\n        </tr>\r\n        <tr>\r\n    \
            \        <td>InvalidImage</td>\r\n            <td>The input data is not\
            \ a valid image or password protected.</td>\r\n        </tr>\r\n     \
            \   <tr>\r\n            <td>UnsupportedImageFormat</td>\r\n          \
            \  <td>Image format unsupported. Supported formats include JPEG, PNG,\
            \ PDF and TIFF.</td>\r\n        </tr>\r\n        <tr>\r\n            <td>InvalidImageSize</td>\r\
            \n            <td>The input image is too large. It should not be larger\
            \ than 50MB.</td>\r\n        </tr>\r\n        <tr>\r\n            <td>InvalidImageDimension</td>\r\
            \n            <td>\r\n                The input image dimension is out\
            \ of range. The minimum image dimension is 50 x 50 pixels and the maximum\
            \ is 10000 x 10000 pixels. The maximum PDF dimension is 17 x 17 inches.\r\
            \n            </td>\r\n        <tr>\r\n            <td>InvalidReadingOrder</td>\r\
            \n            <td>\r\n                The specified Reading Order is invalid.\r\
            \n            </td>\r\n        </tr>\r\n        <tr>\r\n            <td>InvalidPageRange</td>\r\
            \n            <td>\r\n                The specified Pages parameter is\
            \ invalid. Please see returned error for more details.\r\n           \
            \ </td>\r\n        </tr>\r\n    </tbody>\r\n</table>"
          examples:
            application/json:
              error:
                code: "BadArgument"
                message: "Invalid input."
          schema:
            $ref: "#/definitions/ErrorResponse"
        "415":
          description: "Unsupported media type error. 'Content-Type' does not match\
            \ the POST content.\r\n<br/>\r\n<ul>\r\n    <li>For image URL, 'Content-Type'\
            \ should be 'application/json'.</li>\r\n    <li>For binary PDF data, 'Content-Type'\
            \ should be 'application/pdf'.</li>\r\n    <li>For binary image data,\
            \ 'Content-Type' should be 'image/jpeg', 'image/png' or 'image/tiff'.</li>\r\
            \n</ul>\r\n<br/>\r\n"
          examples:
            application/json:
              error:
                code: "BadArgument"
                message: "Unsupported media type."
          schema:
            $ref: "#/definitions/ErrorResponse"
        "500":
          description: "Internal server error."
          examples:
            application/json:
              error:
                code: "Unspecified"
                message: "Internal server error."
          schema:
            $ref: "#/definitions/ErrorResponse"
        "503":
          description: "Transient fault while querying Microsoft Azure storage services."
          examples:
            application/json:
              error:
                code: "StorageException"
                message: "Transient fault occurred while querying Microsoft Azure\
                  \ storage services. Please try again later."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "Default"
  /layout/analyzeResults/{resultId}:
    get:
      summary: "Analyze Layout - Get Analyze Layout Result"
      description: "Track the progress and obtain the result of the analyze layout\
        \ operation"
      operationId: "GetAnalyzeLayoutResult"
      produces:
      - "application/json"
      parameters:
      - name: "resultId"
        in: "path"
        description: "Format - uuid. Analyze operation result identifier."
        required: true
        type: "string"
      responses:
        "200":
          description: "JSON fields in the response body:\r\n<table class=\"element\
            \ table\">\r\n  <thead>\r\n    <tr>\r\n      <th>Field</th>\r\n      <th>Type</th>\r\
            \n      <th>Description</th>\r\n    </tr>\r\n  </thead>\r\n  <tbody>\r\
            \n    <tr>\r\n      <td>status</td>\r\n      <th>String</th>\r\n     \
            \ <td><a href=\"/docs/services/form-recognizer-api-v2-preview/operations/AnalyzeLayoutAsync\"\
            >Analyze Layout</a> operation status.\r\n        Possible values:<ul>\r\
            \n          <li><b>notStarted</b>: The analysis operation has not started.</li>\r\
            \n          <li><b>running</b>: The analysis operation is in progress.</li>\r\
            \n          <li><b>failed</b>: The analysis operation has failed.</li>\r\
            \n          <li><b>succeeded</b>: The analysis operation has succeeded.</li>\r\
            \n        </ul>If the status is <b>succeeded</b>, the response JSON will\
            \ include the layout and text recognition results. The layout result is\
            \ organized as a list of tables for each page. When includeTextDetails\
            \ is true, the detailed text recognition result is organized as a hierarchy\
            \ of lines and words, with text, bounding box and confidence information.</td>\r\
            \n    </tr>\r\n    <tr>\r\n      <td>createdDateTime</td>\r\n      <th>String</th>\r\
            \n      <td>Date and time (UTC) when the operation was created.</td>\r\
            \n    </tr>\r\n    <tr>\r\n      <td>lastUpdatedDateTime</td>\r\n    \
            \  <th>String</th>\r\n      <td>Date and time (UTC) when the status is\
            \ last updated.</td>\r\n    </tr>\r\n    <tr>\r\n      <td>analyzeResult</td>\r\
            \n      <th>Object</th>\r\n      <td>Results of the analyze operation.</td>\r\
            \n    </tr>\r\n    <tr>\r\n      <td>version</td>\r\n      <th>String</th>\r\
            \n      <td>The version of schema used for this result.</td>\r\n    </tr>\r\
            \n    <tr>\r\n      <td>readResults</td>\r\n      <th>[Object]</th>\r\n\
            \      <td>List of of extracted text result for each page in the input\
            \ document.</td>\r\n    </tr>\r\n    <tr>\r\n      <td>page</td>\r\n \
            \     <th>Integer</th>\r\n      <td>The 1-based page number in the input\
            \ document.</td>\r\n    </tr>\r\n    <tr>\r\n      <td>width</td>\r\n\
            \      <th>Number</th>\r\n      <td>The width of the image/PDF in pixels/inches,\
            \ respectively.</td>\r\n    </tr>\r\n    <tr>\r\n      <td>height</td>\r\
            \n      <th>Number</th>\r\n      <td>The height of the image/PDF in pixels/inches,\
            \ respectively.</td>\r\n    </tr>\r\n    <tr>\r\n      <td>unit</td>\r\
            \n      <th>String</th>\r\n      <td>The unit used by the width, height\
            \ and boundingBox properties. For images, the unit is \"pixel\". For PDF,\
            \ the unit is \"inch\".</td>\r\n    </tr>\r\n    <tr>\r\n      <td>angle</td>\r\
            \n      <th>Number</th>\r\n      <td>The general orientation of the text\
            \ in clockwise direction, measured in degrees between (-180, 180].</td>\r\
            \n    </tr>\r\n    <tr>\r\n      <td>language</td>\r\n      <th>String</th>\r\
            \n      <td>The detected language on the page overall or of a specific\
            \ line if different from the page.</td>\r\n    </tr>\r\n    <tr>\r\n \
            \     <td>lines</td>\r\n      <th>[Object]</th>\r\n      <td>\r\n    \
            \    List of text lines. The maximum number of lines returned is 300 per\
            \ page. The lines are sorted top to bottom, left to right, although in\
            \ certain cases proximity is treated with higher priority. As the sorting\
            \ order depends on the detected text, it may change across images and\
            \ OCR version updates. Thus, business logic should be built upon the actual\
            \ line location instead of order. This field only appears when <b>includeTextDetails</b>\
            \ is set to true.\r\n      </td>\r\n    </tr>\r\n    <tr>\r\n      <td>words</td>\r\
            \n      <th>[Object]</th>\r\n      <td>List of words in the text line.</td>\r\
            \n    </tr>\r\n    <tr>\r\n      <td>boundingBox</td>\r\n      <th>[Number]</th>\r\
            \n      <td>\r\n        Quadrangle bounding box of a line or word, depending\
            \ on the parent object, specified as a list of 8 numbers. The coordinates\
            \ are specified relative to the top-left of the original image. The eight\
            \ numbers represent the four points, clockwise from the top-left corner\
            \ relative to the text orientation. For image, the (x, y) coordinates\
            \ are measured in pixels. For PDF, the (x, y) coordinates are measured\
            \ in inches.\r\n      </td>\r\n    </tr>\r\n    <tr>\r\n      <td>text</td>\r\
            \n      <th>String</th>\r\n      <td>Extracted field text in documentResults,\
            \ or the text content of a word/line in readResults.</td>\r\n    </tr>\r\
            \n    <tr>\r\n      <td>confidence</td>\r\n      <th>Number</th>\r\n \
            \     <td>Confidence value.</td>\r\n    </tr>\r\n    <tr>\r\n      <td>pageResults</td>\r\
            \n      <th>[Object]</th>\r\n      <td>Page-level information extracted\
            \ from the input.</td>\r\n    </tr>\r\n    <tr>\r\n      <td>page</td>\r\
            \n      <th>Integer</th>\r\n      <td>Page number.</td>\r\n    </tr>\r\
            \n    <tr>\r\n      <td>tables</td>\r\n      <th>[Object]</th>\r\n   \
            \   <td>List of data tables extracted from the page.</td>\r\n    </tr>\r\
            \n    <tr>\r\n      <td>rows</td>\r\n      <th>Integer</th>\r\n      <td>Number\
            \ of rows.</td>\r\n    </tr>\r\n    <tr>\r\n      <td>columns</td>\r\n\
            \      <th>Integer</th>\r\n      <td>Number of columns.</td>\r\n    </tr>\r\
            \n    <tr>\r\n      <td>cells</td>\r\n      <th>[Object]</th>\r\n    \
            \  <td>List of cells contained in the table.</td>\r\n    </tr>\r\n   \
            \ <tr>\r\n      <td>rowIndex</td>\r\n      <th>Integer</th>\r\n      <td>Row\
            \ index of the cell.</td>\r\n    </tr>\r\n    <tr>\r\n      <td>columnIndex</td>\r\
            \n      <th>Integer</th>\r\n      <td>Column index of the cell.</td>\r\
            \n    </tr>\r\n    <tr>\r\n      <td>rowSpan</td>\r\n      <th>Integer</th>\r\
            \n      <td>Number of rows spanned by this cell.</td>\r\n    </tr>\r\n\
            \    <tr>\r\n      <td>columnSpan</td>\r\n      <th>Integer</th>\r\n \
            \     <td>Number of columns spanned by this cell.</td>\r\n    </tr>\r\n\
            \    <tr>\r\n      <td>elements</td>\r\n      <th>[String]</th>\r\n  \
            \    <td>When includeTextDetails is set to true, a list of JSON references\
            \ to the text elements constituting this field.</td>\r\n    </tr>\r\n\
            \    <tr>\r\n      <td>selectionMarks</td>\r\n      <th>[Object]</th>\r\
            \n      <td>List of detected selection marks</td>\r\n    </tr>\r\n   \
            \ <tr>\r\n      <td>state</td>\r\n      <th>String</th>\r\n      <td>State\
            \ of the selection mark. Can be either 'selected'/'unselected'</td>\r\n\
            \    </tr>\r\n    <tr>\r\n      <td>appearance</td>\r\n      <th>Object</th>\r\
            \n      <td>An object describing the style of the line along with the\
            \ qualitative confidence score.</td>\r\n    </tr>\r\n    <tr>\r\n    \
            \  <td>style</td>\r\n      <th>String</th>\r\n      <td>The general style\
            \ of the line of text. Possible values:\r\n        <ul>\r\n          <li><b>handwriting</b>:\
            \ handwritten styled text.</li>\r\n          <li><b>other</b>: other text\
            \ styles.</li>\r\n        </ul>\r\n      </td>\r\n    <tr>\r\n      <td>styleConfidence</td>\r\
            \n      <th>Number</th>\r\n      <td>Confidence value between 0 and 1\
            \ inclusive.</td>\r\n    </tr>\r\n  </tbody>\r\n</table>\r\n"
          schema:
            $ref: "#/definitions/AnalyzeOperationResult"
        "404":
          description: "Invalid or expired result identifier."
          examples:
            application/json:
              error:
                code: "BadArgument"
                message: "Operation ID is invalid or expired."
          schema:
            $ref: "#/definitions/ErrorResponse"
        "500":
          description: "Internal server error."
          examples:
            application/json:
              error:
                code: "Unspecified"
                message: "Internal server error."
          schema:
            $ref: "#/definitions/ErrorResponse"
        "503":
          description: "Transient fault while querying Microsoft Azure storage services."
          examples:
            application/json:
              error:
                code: "StorageException"
                message: "Transient fault occurred while querying Microsoft Azure\
                  \ storage services. Please try again later."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "Default"
  /prebuilt/receipt/analyze:
    post:
      summary: "Analyze Receipt - Analyze Receipt"
      description: "Extract field text and semantic values from a given receipt document.\r\
        \nThe input document must be of one of the supported content types - 'application/pdf',\
        \ 'image/jpeg', 'image/png' or 'image/tiff'. Alternatively, use 'application/json'\
        \ type to specify the Url location of the document to be analyzed.\r\n\r\n\
        Note: this technology is currently only available for English receipts, with\
        \ one receipt per page."
      operationId: "AnalyzeReceiptAsync"
      consumes:
      - "application/json"
      - "application/pdf"
      - "image/jpeg"
      - "image/png"
      - "image/tiff"
      produces:
      - "application/json"
      parameters:
      - name: "includeTextDetails"
        in: "query"
        description: "Include text lines and element references in the result.  Default:\
          \ false."
        required: false
        type: "boolean"
      - name: "locale"
        in: "query"
        description: "Locale of the receipt. Supported locales: en-AU, en-CA, en-GB,\
          \ en-IN, en-US."
        required: false
        type: "string"
        enum:
        - "en-AU"
        - "en-CA"
        - "en-GB"
        - "en-IN"
        - "en-US"
      - name: "pages"
        in: "query"
        description: "The page selection for multi-page PDF and TIFF documents, to\
          \ extract Receipt information from individual pages and a range of pages\
          \ (like page 2, and pages 5-7) by entering the page numbers and ranges separated\
          \ by commas (e.g. '2, 5-7'). If not set, all pages will  be processed."
        required: false
        type: "string"
      - in: "body"
        name: "sourcePath"
        description: "Document containing the receipt image(s) to be analyzed. The\
          \ POST body should be the raw image binary or the image URL\r\nin JSON.<br\
          \ />Additional requirements:<ul>\r\n  <li>Image format must be one of JPEG,\
          \ PNG, PDF or TIFF.</li>\r\n  <li>For PDF and TIFF, only the first 200 pages\
          \ are processed. <ul>\r\n      <li>For free tier subscribers, only the first\
          \ 2 pages are processed.</li>\r\n    </ul>\r\n  </li>\r\n  <li>Image file\
          \ size must be less than 50 MB.</li>\r\n  <li>Image dimensions must be at\
          \ least 50 x 50 pixels and at most 10000 x 10000 pixels. PDF dimensions\
          \ must be at most\r\n    17 x 17 inches, corresponding to Legal or A3 paper\
          \ sizes and smaller.</li>\r\n</ul>"
        required: false
        schema:
          $ref: "#/definitions/SourcePath"
      responses:
        "202":
          description: "The service has accepted the request and will start processing\
            \ soon.  The client can query the operation status and result using the\
            \ URL specified in the 'Operation-Location' response header.  The URL\
            \ expires in 48 hours.\r\n<br/>\r\n<table class=\"element table\">\r\n\
            \    <thead/>\r\n    <tbody>\r\n        <tr>\r\n            <td>\r\n \
            \               <b>Operation-Location</b>\r\n            </td>\r\n   \
            \         <td>\r\n                URL containing the resultId used to\
            \ track the progress and obtain the result of the analyze operation.\r\
            \n                <br/>\r\n                Example: https://cognitiveservice/formrecognizer/v2.1-preview.1/prebuilt/receipt/analyzeResults/{resultId}\r\
            \n            </td>\r\n        </tr>\r\n    </tbody>\r\n</table>"
          headers:
            Operation-Location:
              type: "string"
              description: "URL containing the resultId used to track the progress\
                \ and obtain the result of the analyze operation. This URL expires\
                \ in 48 hours."
          schema:
            $ref: "#/definitions/AnalyzeOperationResult"
        "400":
          description: "Bad request error. Detailed error code and message are specified\
            \ in the JSON response:\r\n<table class=\"element table\">\r\n    <thead>\r\
            \n        <tr>\r\n            <th>Error Code</th>\r\n            <th>Description</th>\r\
            \n        </tr>\r\n    </thead>\r\n    <tbody>\r\n        <tr>\r\n   \
            \         <td>BadArgument</td>\r\n            <td>Bad or unrecognizable\
            \ request JSON or binary file.</td>\r\n        </tr>\r\n        <tr>\r\
            \n            <td>FailedToDownloadImage</td>\r\n            <td>Failed\
            \ to download image from input URL.</td>\r\n        </tr>\r\n        <tr>\r\
            \n            <td>InvalidImage</td>\r\n            <td>The input data\
            \ is not a valid image or password protected.</td>\r\n        </tr>\r\n\
            \        <tr>\r\n            <td>InvalidImageDimension</td>\r\n      \
            \      <td>\r\n                The input image dimension is out of range.\
            \ The minimum image dimension is 50 x 50 pixels and the maximum is 10000\
            \ x 10000 pixels. The maximum PDF dimension is 17 x 17 inches.\r\n   \
            \         </td>\r\n        </tr>\r\n        <tr>\r\n            <td>InvalidImageSize</td>\r\
            \n            <td>The input image is too large. It should not be larger\
            \ than 50MB.</td>\r\n        </tr>\r\n        <tr>\r\n            <td>InvalidImageURL</td>\r\
            \n            <td>Image URL is badly formatted.</td>\r\n        </tr>\r\
            \n        <tr>\r\n            <td>UnsupportedImageFormat</td>\r\n    \
            \        <td>Image format unsupported. Supported formats include JPEG,\
            \ PNG, PDF and TIFF.</td>\r\n        </tr>\r\n        <tr>\r\n       \
            \     <td>UnsupportedLocale</td>\r\n            <td>Locale unsupported.\
            \ Supported locales include en-AU, en-CA, en-GB, en-IN and en-US.</td>\r\
            \n        </tr>\r\n    </tbody>\r\n</table>\r\n"
          examples:
            application/json:
              error:
                code: "BadArgument"
                message: "Invalid input."
          schema:
            $ref: "#/definitions/ErrorResponse"
        "415":
          description: "Unsupported media type error. 'Content-Type' does not match\
            \ the POST content.\r\n<br/>\r\n<ul>\r\n    <li>For image URL, 'Content-Type'\
            \ should be 'application/json'.</li>\r\n    <li>For binary PDF data, 'Content-Type'\
            \ should be 'application/pdf'.</li>\r\n    <li>For binary image data,\
            \ 'Content-Type' should be 'image/jpeg', 'image/png' or 'image/tiff'.</li>\r\
            \n</ul>\r\n<br/>\r\n"
          examples:
            application/json:
              error:
                code: "BadArgument"
                message: "Unsupported media type."
          schema:
            $ref: "#/definitions/ErrorResponse"
        "500":
          description: "Internal server error."
          examples:
            application/json:
              error:
                code: "Unspecified"
                message: "Internal server error."
          schema:
            $ref: "#/definitions/ErrorResponse"
        "503":
          description: "Transient fault while querying Microsoft Azure storage services.\r\
            \n"
          examples:
            application/json:
              error:
                code: "StorageException"
                message: "Transient fault occurred while querying Microsoft Azure\
                  \ storage services. Please try again later."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "Default"
  /prebuilt/receipt/analyzeResults/{resultId}:
    get:
      summary: "Analyze Receipt - Get Analyze Receipt Result"
      description: "Query the status and retrieve the result of an <a href=\"/docs/services/form-recognizer-api-v2-preview/operations/AnalyzeReceiptAsync\"\
        >Analyze Receipt</a> operation. The URL to this interface can be obtained\
        \ from the 'Operation-Location' header in the <a href=\"/docs/services/form-recognizer-api-v2-preview/operations/AnalyzeReceiptAsync\"\
        >Analyze Receipt</a> response.\r\nWe recommend calling this operation no more\
        \ than once a second."
      operationId: "GetAnalyzeReceiptResult"
      produces:
      - "application/json"
      parameters:
      - name: "resultId"
        in: "path"
        description: "Format - uuid. Analyze operation result identifier."
        required: true
        type: "string"
      responses:
        "200":
          description: "JSON fields in the response body:\r\n<table class=\"element\
            \ table\">\r\n  <thead>\r\n    <tr>\r\n      <th>Field</th>\r\n      <th>Type</th>\r\
            \n      <th>Description</th>\r\n    </tr>\r\n  </thead>\r\n  <tbody>\r\
            \n    <tr>\r\n      <td>status</td>\r\n      <th>String</th>\r\n     \
            \ <td><a href=\"/docs/services/form-recognizer-api-v2-preview/operations/AnalyzeReceiptAsync\"\
            >Analyze Receipt</a> operation status.\r\n        Possible values:<ul>\r\
            \n          <li><b>notStarted</b>: The analysis operation has not started.</li>\r\
            \n          <li><b>running</b>: The analysis operation is in progress.</li>\r\
            \n          <li><b>failed</b>: The analysis operation has failed.</li>\r\
            \n          <li><b>succeeded</b>: The analysis operation has succeeded.</li>\r\
            \n        </ul>If the status is <b>succeeded</b>, the response JSON will\
            \ include the receipt understanding and text recognition results. The\
            \ receipt understanding result is organized as a dictionary of named field\
            \ values, where each value contains the extracted text, normalized value,\
            \ and corresponding word elements. The text recognition result is organized\
            \ as a hierarchy of lines and words, with text, bounding box and confidence\
            \ information. </td>\r\n    </tr>\r\n    <tr>\r\n      <td>createdDateTime</td>\r\
            \n      <th>String</th>\r\n      <td>Date and time (UTC) when the operation\
            \ was created.</td>\r\n    </tr>\r\n    <tr>\r\n      <td>lastUpdatedDateTime</td>\r\
            \n      <th>String</th>\r\n      <td>Date and time (UTC) when the status\
            \ is last updated.</td>\r\n    </tr>\r\n    <tr>\r\n      <td>analyzeResult</td>\r\
            \n      <th>Object</th>\r\n      <td>Results of the analyze operation.</td>\r\
            \n    </tr>\r\n    <tr>\r\n      <td>readResults</td>\r\n      <th>[Object]</th>\r\
            \n      <td>List of of extracted text result for each page in the input\
            \ document.</td>\r\n    </tr>\r\n    <tr>\r\n      <td>lines</td>\r\n\
            \      <th>[Object]</th>\r\n      <td>\r\n        List of text lines.\
            \ The maximum number of lines returned is 300 per page. The lines are\
            \ sorted top to bottom, left to right, although in certain cases proximity\
            \ is treated with higher priority. As the sorting order depends on the\
            \ detected text, it may change across images and OCR version updates.\
            \ Thus, business logic should be built upon the actual line location instead\
            \ of order. This field only appears when <b>includeTextDetails</b> is\
            \ set to true.\r\n      </td>\r\n    </tr>\r\n    <tr>\r\n      <td>words</td>\r\
            \n      <th>[Object]</th>\r\n      <td>List of words in the text line.</td>\r\
            \n    </tr>\r\n    <tr>\r\n      <td>boundingBox</td>\r\n      <th>[Number]</th>\r\
            \n      <td>\r\n        Quadrangle bounding box of a line or word, depending\
            \ on the parent object, specified as a list of 8 numbers. The coordinates\
            \ are specified relative to the top-left of the original image. The eight\
            \ numbers represent the four points, clockwise from the top-left corner\
            \ relative to the text orientation. For image, the (x, y) coordinates\
            \ are measured in pixels. For PDF, the (x, y) coordinates are measured\
            \ in inches.\r\n      </td>\r\n    </tr>\r\n    <tr>\r\n      <td>text</td>\r\
            \n      <th>String</th>\r\n      <td>Extracted field text in documentResults,\
            \ or the text content of a word/line in readResults.</td>\r\n    </tr>\r\
            \n    <tr>\r\n      <td>confidence</td>\r\n      <th>Number</th>\r\n \
            \     <td>Confidence value.</td>\r\n    </tr>\r\n    <tr>\r\n      <td>width</td>\r\
            \n      <th>Number</th>\r\n      <td>The width of the image/PDF in pixels/inches,\
            \ respectively.</td>\r\n    </tr>\r\n    <tr>\r\n      <td>height</td>\r\
            \n      <th>Number</th>\r\n      <td>The height of the image/PDF in pixels/inches,\
            \ respectively.</td>\r\n    </tr>\r\n    <tr>\r\n      <td>angle</td>\r\
            \n      <th>Number</th>\r\n      <td>The general orientation of the text\
            \ in clockwise direction, measured in degrees between (-180, 180].</td>\r\
            \n    </tr>\r\n    <tr>\r\n      <td>page</td>\r\n      <th>Integer</th>\r\
            \n      <td>The 1-based page number in the input document.</td>\r\n  \
            \  </tr>\r\n    <tr>\r\n      <td>unit</td>\r\n      <th>String</th>\r\
            \n      <td>The unit used by the width, height and boundingBox properties.\
            \ For images, the unit is \"pixel\". For PDF, the unit is \"inch\".</td>\r\
            \n    </tr>\r\n    <tr>\r\n      <td>language</td>\r\n      <th>String</th>\r\
            \n      <td>The detected language on the page overall or of a specific\
            \ line if different from the page.</td>\r\n    </tr>\r\n    <tr>\r\n \
            \     <td>version</td>\r\n      <th>String</th>\r\n      <td>The version\
            \ of schema used for this result.</td>\r\n    </tr>\r\n    <tr>\r\n  \
            \    <td>documentResults</td>\r\n      <th>[Object]</th>\r\n      <td>An\
            \ array of objects, each representing a receipt detected in the input\
            \ document.</td>\r\n    </tr>\r\n    <tr>\r\n      <td>docType</td>\r\n\
            \      <th>String</th>\r\n      <td>The value is set to \"prebuilt:receipt\"\
            \ to indicate a receipt document.</td>\r\n    </tr>\r\n    <tr>\r\n  \
            \    <td>pageRange</td>\r\n      <th>[Integer, Integer]</th>\r\n     \
            \ <td>First and last page numbers where the receipt is found. Currently,\
            \ only single-page receipts are supported.</td>\r\n    </tr>\r\n    <tr>\r\
            \n      <td>fields</td>\r\n      <th>Object</th>\r\n      <td>Dictionary\
            \ of detected field values.</td>\r\n    </tr>\r\n    <tr>\r\n      <td>type</td>\r\
            \n      <th>String</th>\r\n      <td>Data type of the field value. Currently,\
            \ possible types include \"string\", \"number\", \"phoneNumber\", \"date\"\
            , \"time\", \"array\", and \"object\".</td>\r\n    </tr>\r\n    <tr>\r\
            \n      <td>valueString</td>\r\n      <th>String</th>\r\n      <td>Semantic\
            \ value of \"string\" fields.</td>\r\n    </tr>\r\n    <tr>\r\n      <td>valueNumber</td>\r\
            \n      <th>Number</th>\r\n      <td>Semantic value of \"number\" fields.</td>\r\
            \n    </tr>\r\n    <tr>\r\n      <td>valuePhoneNumber</td>\r\n      <th>String</th>\r\
            \n      <td>Semantic value of \"phoneNumber\" fields.</td>\r\n    </tr>\r\
            \n    <tr>\r\n      <td>valueDate</td>\r\n      <th>String</th>\r\n  \
            \    <td>Semantic value of \"date\" fields.</td>\r\n    </tr>\r\n    <tr>\r\
            \n      <td>valueTime</td>\r\n      <th>String</th>\r\n      <td>Semantic\
            \ value of \"time\" fields.</td>\r\n    </tr>\r\n    <tr>\r\n      <td>valueArray</td>\r\
            \n      <th>[Object]</th>\r\n      <td>Semantic value of \"array\" fields.</td>\r\
            \n    </tr>\r\n    <tr>\r\n      <td>valueObject</td>\r\n      <th>Object</th>\r\
            \n      <td>Semantic value of \"object\" fields.</td>\r\n    </tr>\r\n\
            \    <tr>\r\n      <td>elements</td>\r\n      <th>[String]</th>\r\n  \
            \    <td>When includeTextDetails is set to true, a list of references\
            \ to the text elements constituting this field.</td>\r\n    </tr>\r\n\
            \  </tbody>\r\n</table>\r\n<br/>\r\nSupported fields:\r\n<table class=\"\
            element table\">\r\n  <thead>\r\n    <tr>\r\n      <th>Name</th>\r\n \
            \     <th>Type</th>\r\n      <th>Example</th>\r\n    </tr>\r\n  </thead>\r\
            \n  <tbody>\r\n    <tr>\r\n      <td>ReceiptType</td>\r\n      <td>string</td>\r\
            \n      <td>\"Itemized\"</td>\r\n    </tr>\r\n    <tr>\r\n      <td>MerchantName</td>\r\
            \n      <td>string</td>\r\n      <td>\"Contoso\"</td>\r\n    </tr>\r\n\
            \    <tr>\r\n      <td>MerchantPhoneNumber</td>\r\n      <td>phoneNumber</td>\r\
            \n      <td>\"+19876543210\"</td>\r\n    </tr>\r\n    <tr>\r\n      <td>MerchantAddress</td>\r\
            \n      <td>string</td>\r\n      <td>\"123 Main St Redmond WA 98052\"\
            </td>\r\n    </tr>\r\n    <tr>\r\n      <td>TransactionDate</td>\r\n \
            \     <td>date</td>\r\n      <td>\"2019-06-26\"</td>\r\n    </tr>\r\n\
            \    <tr>\r\n      <td>TransactionTime</td>\r\n      <td>time</td>\r\n\
            \      <td>\"16:49:00\"</td>\r\n    </tr>\r\n    <tr>\r\n      <td>Total</td>\r\
            \n      <td>number</td>\r\n      <td>14.34</td>\r\n    </tr>\r\n    <tr>\r\
            \n      <td>Subtotal</td>\r\n      <td>number</td>\r\n      <td>12.34</td>\r\
            \n    </tr>\r\n    <tr>\r\n      <td>Tax</td>\r\n      <td>number</td>\r\
            \n      <td>2.00</td>\r\n    </tr>\r\n    <tr>\r\n      <td>Tip</td>\r\
            \n      <td>number</td>\r\n      <td>1.00</td>\r\n    </tr>\r\n    <tr>\r\
            \n      <td>Items</td>\r\n      <td>array of objects</td>\r\n      <td>\r\
            \n[<br/>\r\n&nbsp;&nbsp;{ \"Name\": \"Surface Pro 6\", \"Quantity\": 1,\
            \ \"Price\": 999.00, \"TotalPrice\": 999.00 },<br/>\r\n&nbsp;&nbsp;{ \"\
            Name\": \"SurfacePen\", \"Quantity\": 2, \"Price\": 99.99, \"TotalPrice\"\
            : 199.98 }<br/>\r\n]\r\n      </td>\r\n    </tr>\r\n    <tr>\r\n     \
            \ <td>Name</td>\r\n      <td>string</td>\r\n      <td>\"Surface Pro 6\"\
            </td>\r\n    </tr>\r\n    <tr>\r\n      <td>Quantity</td>\r\n      <td>number</td>\r\
            \n      <td>1</td>\r\n    </tr>\r\n    <tr>\r\n      <td>Price</td>\r\n\
            \      <td>number</td>\r\n      <td>999.00</td>\r\n    </tr>\r\n    <tr>\r\
            \n      <td>TotalPrice</td>\r\n      <td>number</td>\r\n      <td>999.00</td>\r\
            \n    </tr>\r\n  </tbody>\r\n</table>\r\n"
          examples:
            application/json: "{\r\n  \"status\": \"succeeded\",\r\n  \"createdDateTime\"\
              : \"2020-05-13T07:29:49Z\",\r\n  \"lastUpdatedDateTime\": \"2020-05-13T07:29:57Z\"\
              ,\r\n  \"analyzeResult\": {\r\n      \"version\": \"2.1.0\",\r\n   \
              \   \"readResults\": [\r\n          {\r\n              \"page\": 1,\r\
              \n              \"angle\": 0.2816,\r\n              \"width\": 600,\r\
              \n              \"height\": 1172,\r\n              \"unit\": \"pixel\"\
              \r\n          }\r\n      ],\r\n      \"documentResults\": [\r\n    \
              \      {\r\n              \"docType\": \"prebuilt:receipt\",\r\n   \
              \           \"pageRange\": [\r\n                  1,\r\n           \
              \       1\r\n              ],\r\n              \"fields\": {\r\n   \
              \               \"ReceiptType\": {\r\n                      \"type\"\
              : \"string\",\r\n                      \"valueString\": \"Itemized\"\
              ,\r\n                      \"confidence\": 0.878\r\n               \
              \   },\r\n                  \"MerchantName\": {\r\n                \
              \      \"type\": \"string\",\r\n                      \"valueString\"\
              : \"Contoso\",\r\n                      \"text\": \"Contoso\",\r\n \
              \                     \"boundingBox\": [\r\n                       \
              \   150.1,\r\n                          97.9,\r\n                  \
              \        452.2,\r\n                          120.4,\r\n            \
              \              439.1,\r\n                          296.5,\r\n      \
              \                    137,\r\n                          274\r\n     \
              \                 ],\r\n                      \"page\": 1,\r\n     \
              \                 \"confidence\": 0.669\r\n                  },\r\n\
              \                  \"MerchantAddress\": {\r\n                      \"\
              type\": \"string\",\r\n                      \"valueString\": \"123\
              \ Main Street Redmond, WA 98052\",\r\n                      \"text\"\
              : \"123 Main Street Redmond, WA 98052\",\r\n                      \"\
              boundingBox\": [\r\n                          132.8,\r\n           \
              \               293,\r\n                          321.8,\r\n       \
              \                   295.1,\r\n                          321,\r\n   \
              \                       369.1,\r\n                          132,\r\n\
              \                          367\r\n                      ],\r\n     \
              \                 \"page\": 1,\r\n                      \"confidence\"\
              : 0.994\r\n                  },\r\n                  \"MerchantPhoneNumber\"\
              : {\r\n                      \"type\": \"phoneNumber\",\r\n        \
              \              \"text\": \"123-456-7890\",\r\n                     \
              \ \"boundingBox\": [\r\n                          129,\r\n         \
              \                 427,\r\n                          263,\r\n       \
              \                   429,\r\n                          262,\r\n     \
              \                     456,\r\n                          128,\r\n   \
              \                       454\r\n                      ],\r\n        \
              \              \"page\": 1,\r\n                      \"confidence\"\
              : 0.995\r\n                  },\r\n                  \"TransactionDate\"\
              : {\r\n                      \"type\": \"date\",\r\n               \
              \       \"valueDate\": \"2019-06-10\",\r\n                      \"text\"\
              : \"6/10/2019\",\r\n                      \"boundingBox\": [\r\n   \
              \                       128,\r\n                          520,\r\n \
              \                         210,\r\n                          521,\r\n\
              \                          210,\r\n                          551,\r\n\
              \                          128,\r\n                          550\r\n\
              \                      ],\r\n                      \"page\": 1,\r\n\
              \                      \"confidence\": 0.995\r\n                  },\r\
              \n                  \"TransactionTime\": {\r\n                     \
              \ \"type\": \"time\",\r\n                      \"valueTime\": \"13:59:00\"\
              ,\r\n                      \"text\": \"13:59\",\r\n                \
              \      \"boundingBox\": [\r\n                          216,\r\n    \
              \                      521,\r\n                          269,\r\n  \
              \                        521,\r\n                          269,\r\n\
              \                          550,\r\n                          216,\r\n\
              \                          551\r\n                      ],\r\n     \
              \                 \"page\": 1,\r\n                      \"confidence\"\
              : 0.995\r\n                  },\r\n                  \"Items\": {\r\n\
              \                      \"type\": \"array\",\r\n                    \
              \  \"valueArray\": [\r\n                          {\r\n            \
              \                  \"type\": \"object\",\r\n                       \
              \       \"valueObject\": {\r\n                                  \"Quantity\"\
              : {\r\n                                      \"type\": \"number\",\r\
              \n                                      \"valueNumber\": 1,\r\n    \
              \                                  \"text\": \"1\",\r\n            \
              \                          \"boundingBox\": [\r\n                  \
              \                        140,\r\n                                  \
              \        664,\r\n                                          149,\r\n\
              \                                          664,\r\n                \
              \                          149,\r\n                                \
              \          691,\r\n                                          140,\r\n\
              \                                          691\r\n                 \
              \                     ],\r\n                                      \"\
              page\": 1,\r\n                                      \"confidence\":\
              \ 0.922\r\n                                  },\r\n                \
              \                  \"Name\": {\r\n                                 \
              \     \"type\": \"string\",\r\n                                    \
              \  \"valueString\": \"Surface Pro 6\",\r\n                         \
              \             \"text\": \"Surface Pro 6\",\r\n                     \
              \                 \"boundingBox\": [\r\n                           \
              \               154,\r\n                                          664,\r\
              \n                                          289,\r\n               \
              \                           664,\r\n                               \
              \           289,\r\n                                          691,\r\
              \n                                          154,\r\n               \
              \                           691\r\n                                \
              \      ],\r\n                                      \"page\": 1,\r\n\
              \                                      \"confidence\": 0.956\r\n   \
              \                               },\r\n                             \
              \     \"TotalPrice\": {\r\n                                      \"\
              type\": \"number\",\r\n                                      \"valueNumber\"\
              : 999,\r\n                                      \"text\": \"$999.00\"\
              ,\r\n                                      \"boundingBox\": [\r\n  \
              \                                        398,\r\n                  \
              \                        762.7,\r\n                                \
              \          482,\r\n                                          764.5,\r\
              \n                                          481.4,\r\n             \
              \                             791.8,\r\n                           \
              \               397.4,\r\n                                         \
              \ 790\r\n                                      ],\r\n              \
              \                        \"page\": 1,\r\n                          \
              \            \"confidence\": 0.984\r\n                             \
              \     }\r\n                              }\r\n                     \
              \     },\r\n                          ...\r\n                      ]\r\
              \n                  },\r\n                  \"Subtotal\": {\r\n    \
              \                  \"type\": \"number\",\r\n                      \"\
              valueNumber\": 1098.99,\r\n                      \"text\": \"1098.99\"\
              ,\r\n                      \"boundingBox\": [\r\n                  \
              \        407,\r\n                          962,\r\n                \
              \          483,\r\n                          960,\r\n              \
              \            484,\r\n                          987,\r\n            \
              \              408,\r\n                          989\r\n           \
              \           ],\r\n                      \"page\": 1,\r\n           \
              \           \"confidence\": 0.987\r\n                  },\r\n      \
              \            \"Total\": {\r\n                      \"type\": \"number\"\
              ,\r\n                      \"valueNumber\": 1203.39,\r\n           \
              \           \"text\": \"1203.39\",\r\n                      \"boundingBox\"\
              : [\r\n                          404,\r\n                          1105,\r\
              \n                          479,\r\n                          1112,\r\
              \n                          476,\r\n                          1139,\r\
              \n                          402,\r\n                          1132\r\
              \n                      ],\r\n                      \"page\": 1,\r\n\
              \                      \"confidence\": 0.959\r\n                  },\r\
              \n                  \"Tax\": {\r\n                      \"type\": \"\
              number\",\r\n                      \"valueNumber\": 104.4,\r\n     \
              \                 \"text\": \"$104.40\",\r\n                      \"\
              boundingBox\": [\r\n                          415,\r\n             \
              \             1010,\r\n                          484,\r\n          \
              \                1009,\r\n                          483,\r\n       \
              \                   1036,\r\n                          417,\r\n    \
              \                      1038\r\n                      ],\r\n        \
              \              \"page\": 1,\r\n                      \"confidence\"\
              : 0.615\r\n                  }\r\n              }\r\n          }\r\n\
              \      ]\r\n  }\r\n}"
          schema:
            $ref: "#/definitions/AnalyzeOperationResult"
        "404":
          description: "Invalid or expired result identifier."
          examples:
            application/json:
              error:
                code: "BadArgument"
                message: "Operation ID is invalid or expired."
          schema:
            $ref: "#/definitions/ErrorResponse"
        "500":
          description: "Internal server error."
          examples:
            application/json:
              error:
                code: "Unspecified"
                message: "Internal server error."
          schema:
            $ref: "#/definitions/ErrorResponse"
        "503":
          description: "Transient fault while querying Microsoft Azure storage services."
          examples:
            application/json:
              error:
                code: "StorageException"
                message: "Transient fault occurred while querying Microsoft Azure\
                  \ storage services. Please try again later."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "Default"
securityDefinitions:
  apiKeyHeader:
    type: "apiKey"
    name: "Ocp-Apim-Subscription-Key"
    in: "header"
  apiKeyQuery:
    type: "apiKey"
    name: "subscription-key"
    in: "query"
definitions:
  OperationStatus:
    type: "string"
    description: "Status of the queued operation."
    enum:
    - "notStarted"
    - "running"
    - "succeeded"
    - "failed"
    x-ms-enum:
      name: "OperationStatus"
      modelAsString: false
    x-nullable: false
  CopyAuthorizationResult:
    type: "object"
    required:
    - "accessToken"
    - "expirationDateTimeTicks"
    - "modelId"
    properties:
      modelId:
        type: "string"
        description: "Model identifier."
      accessToken:
        type: "string"
        description: "Token claim used to authorize the request."
      expirationDateTimeTicks:
        type: "integer"
        format: "int64"
        description: "The date and time (in UTC) when the access token expires. Represented\
          \ as the number of seconds from 1970-01-01T0:0:0Z UTC until the expiration\
          \ time."
    description: "Request parameter that contains authorization claims for copy operation."
  CopyRequest:
    type: "object"
    required:
    - "copyAuthorization"
    - "targetResourceId"
    - "targetResourceRegion"
    properties:
      targetResourceId:
        type: "string"
        description: "Azure Resource Id of the target Form Recognizer resource where\
          \ the model is copied to."
        maxLength: 1024
        pattern: "^/subscriptions/[^/]*/resourceGroups/[^/]*/providers/Microsoft.CognitiveServices/accounts/[^/]*$"
        x-ms-azure-resource: true
      targetResourceRegion:
        type: "string"
        description: "Location of the target Azure resource."
        minLength: 1
        maxLength: 24
      copyAuthorization:
        description: "Entity that encodes claims to authorize the copy request."
        $ref: "#/definitions/CopyAuthorizationResult"
    description: "Request parameter to copy an existing custom model."
  CopyOperationResult:
    type: "object"
    required:
    - "createdDateTime"
    - "lastUpdatedDateTime"
    - "status"
    properties:
      status:
        description: "Operation status."
        $ref: "#/definitions/OperationStatus"
      createdDateTime:
        type: "string"
        format: "date-time"
        description: "Date and time (UTC) when the copy operation was submitted."
        x-nullable: false
      lastUpdatedDateTime:
        type: "string"
        format: "date-time"
        description: "Date and time (UTC) when the status was last updated."
        x-nullable: false
      copyResult:
        description: "Results of the copy operation."
        $ref: "#/definitions/CopyResult"
    description: "Status and result of the queued copy operation."
  CopyResult:
    type: "object"
    required:
    - "modelId"
    properties:
      modelId:
        type: "string"
        format: "uuid"
        description: "Identifier of the model in the target subscription after the\
          \ copy operation."
      errors:
        type: "array"
        description: "Errors returned during the copy operation."
        items:
          $ref: "#/definitions/ErrorInformation"
    description: "Custom model copy result."
  AnalyzeOperationResult:
    type: "object"
    required:
    - "createdDateTime"
    - "lastUpdatedDateTime"
    - "status"
    properties:
      status:
        description: "Operation status."
        $ref: "#/definitions/OperationStatus"
      createdDateTime:
        type: "string"
        format: "date-time"
        description: "Date and time (UTC) the analyze operation was submitted."
        x-nullable: false
      lastUpdatedDateTime:
        type: "string"
        format: "date-time"
        description: "Date and time (UTC) when the status is last updated."
        x-nullable: false
      analyzeResult:
        description: "Results of the analyze operation."
        $ref: "#/definitions/AnalyzeResult"
    description: "Status and result of the queued analyze operation."
    example:
      analyzeResult:
        pageResults:
        - tables:
          - cells:
            - rowSpan: 1
              columnSpan: 1
              boundingBox: ""
              isHeader: false
              elements:
              - null
              - null
              rowIndex: 0
              columnIndex: 0
              text: "text"
              isFooter: false
            - rowSpan: 1
              columnSpan: 1
              boundingBox: ""
              isHeader: false
              elements:
              - null
              - null
              rowIndex: 0
              columnIndex: 0
              text: "text"
              isFooter: false
            columns: 1
            rows: 1
          - cells:
            - rowSpan: 1
              columnSpan: 1
              boundingBox: ""
              isHeader: false
              elements:
              - null
              - null
              rowIndex: 0
              columnIndex: 0
              text: "text"
              isFooter: false
            - rowSpan: 1
              columnSpan: 1
              boundingBox: ""
              isHeader: false
              elements:
              - null
              - null
              rowIndex: 0
              columnIndex: 0
              text: "text"
              isFooter: false
            columns: 1
            rows: 1
          keyValuePairs:
          - label: "label"
            value:
              boundingBox: ""
              elements:
              - {}
              - {}
              text: "text"
            key:
              boundingBox: ""
              elements:
              - {}
              - {}
              text: "text"
          - label: "label"
            value:
              boundingBox: ""
              elements:
              - {}
              - {}
              text: "text"
            key:
              boundingBox: ""
              elements:
              - {}
              - {}
              text: "text"
          page: 1
          clusterId: 0
        - tables:
          - cells:
            - rowSpan: 1
              columnSpan: 1
              boundingBox: ""
              isHeader: false
              elements:
              - null
              - null
              rowIndex: 0
              columnIndex: 0
              text: "text"
              isFooter: false
            - rowSpan: 1
              columnSpan: 1
              boundingBox: ""
              isHeader: false
              elements:
              - null
              - null
              rowIndex: 0
              columnIndex: 0
              text: "text"
              isFooter: false
            columns: 1
            rows: 1
          - cells:
            - rowSpan: 1
              columnSpan: 1
              boundingBox: ""
              isHeader: false
              elements:
              - null
              - null
              rowIndex: 0
              columnIndex: 0
              text: "text"
              isFooter: false
            - rowSpan: 1
              columnSpan: 1
              boundingBox: ""
              isHeader: false
              elements:
              - null
              - null
              rowIndex: 0
              columnIndex: 0
              text: "text"
              isFooter: false
            columns: 1
            rows: 1
          keyValuePairs:
          - label: "label"
            value:
              boundingBox: ""
              elements:
              - {}
              - {}
              text: "text"
            key:
              boundingBox: ""
              elements:
              - {}
              - {}
              text: "text"
          - label: "label"
            value:
              boundingBox: ""
              elements:
              - {}
              - {}
              text: "text"
            key:
              boundingBox: ""
              elements:
              - {}
              - {}
              text: "text"
          page: 1
          clusterId: 0
        documentResults:
        - pageRange:
          - 1
          - 1
          docType: "docType"
          fields:
            key:
              boundingBox: ""
              valueTime: "2000-01-23T04:56:07.000+00:00"
              valueNumber: 1.024645700144157789424070870154537260532379150390625
              valueDate: "2000-01-23T04:56:07.000+00:00"
              valueArray:
              - null
              - null
              type: {}
              valuePhoneNumber: "valuePhoneNumber"
              valueObject: {}
              valueString: "valueString"
              elements:
              - null
              - null
              text: "text"
              page: 1
              valueInteger: 1
        - pageRange:
          - 1
          - 1
          docType: "docType"
          fields:
            key:
              boundingBox: ""
              valueTime: "2000-01-23T04:56:07.000+00:00"
              valueNumber: 1.024645700144157789424070870154537260532379150390625
              valueDate: "2000-01-23T04:56:07.000+00:00"
              valueArray:
              - null
              - null
              type: {}
              valuePhoneNumber: "valuePhoneNumber"
              valueObject: {}
              valueString: "valueString"
              elements:
              - null
              - null
              text: "text"
              page: 1
              valueInteger: 1
        readResults:
        - unit: "pixel"
          width: 0.146581298050294517310021547018550336360931396484375
          angle: 36.98842259053452607986400835216045379638671875
          page: 1
          lines:
          - boundingBox: ""
            words:
            - boundingBox: ""
              confidence: {}
              text: "text"
            - boundingBox: ""
              confidence: {}
              text: "text"
            text: "text"
          - boundingBox: ""
            words:
            - boundingBox: ""
              confidence: {}
              text: "text"
            - boundingBox: ""
              confidence: {}
              text: "text"
            text: "text"
          height: 0.59621339166831821554382031536079011857509613037109375
        - unit: "pixel"
          width: 0.146581298050294517310021547018550336360931396484375
          angle: 36.98842259053452607986400835216045379638671875
          page: 1
          lines:
          - boundingBox: ""
            words:
            - boundingBox: ""
              confidence: {}
              text: "text"
            - boundingBox: ""
              confidence: {}
              text: "text"
            text: "text"
          - boundingBox: ""
            words:
            - boundingBox: ""
              confidence: {}
              text: "text"
            - boundingBox: ""
              confidence: {}
              text: "text"
            text: "text"
          height: 0.59621339166831821554382031536079011857509613037109375
        version: "version"
        errors:
        - message: "message"
        - message: "message"
      createdDateTime: "2000-01-23T04:56:07.000+00:00"
      lastUpdatedDateTime: "2000-01-23T04:56:07.000+00:00"
      status: {}
  TrainRequest:
    type: "object"
    required:
    - "source"
    properties:
      source:
        type: "string"
        description: "Source path containing the training documents."
        minLength: 0
        maxLength: 2048
      sourceFilter:
        description: "Filter to apply to the documents in the source path for training."
        $ref: "#/definitions/TrainSourceFilter"
      useLabelFile:
        type: "boolean"
        description: "Use label file for training a model."
        default: false
    description: "Request parameter to train a new custom model."
  TrainSourceFilter:
    type: "object"
    properties:
      prefix:
        type: "string"
        description: "A case-sensitive prefix string to filter documents in the source\
          \ path for training. For example, when using a Azure storage blob Uri, use\
          \ the prefix to restrict sub folders for training."
        minLength: 0
        maxLength: 1024
      includeSubFolders:
        type: "boolean"
        description: "A flag to indicate if sub folders within the set of prefix folders\
          \ will also need to be included when searching for content to be preprocessed."
        default: false
        x-nullable: false
    description: "Filter to apply to the documents in the source path for training."
  TrainResult:
    type: "object"
    required:
    - "trainingDocuments"
    properties:
      trainingDocuments:
        type: "array"
        description: "List of the documents used to train the model and any errors\
          \ reported in each document."
        items:
          $ref: "#/definitions/TrainingDocumentInfo"
      fields:
        type: "array"
        description: "List of fields used to train the model and the train operation\
          \ error reported by each."
        items:
          $ref: "#/definitions/FormFieldsReport"
      averageModelAccuracy:
        type: "number"
        description: "Average accuracy."
        x-nullable: false
      errors:
        type: "array"
        description: "Errors returned during the training operation."
        items:
          $ref: "#/definitions/FormOperationError"
    description: "Custom model training result."
  SourceDataStream:
    type: "object"
    description: "A pdf document or image (jpg,png,tiff) file to analyze."
  ModelInfo:
    type: "object"
    required:
    - "createdDateTime"
    - "lastUpdatedDateTime"
    - "modelId"
    - "status"
    properties:
      modelId:
        type: "string"
        format: "uuid"
        description: "Model identifier."
        x-nullable: false
      status:
        type: "string"
        description: "Status of the model."
        enum:
        - "creating"
        - "ready"
        - "invalid"
        x-ms-enum:
          name: "ModelStatus"
          modelAsString: false
        x-nullable: false
      createdDateTime:
        type: "string"
        format: "date-time"
        description: "Date and time (UTC) when the model was created."
        x-nullable: false
      lastUpdatedDateTime:
        type: "string"
        format: "date-time"
        description: "Date and time (UTC) when the status is last updated."
        x-nullable: false
    description: "Basic custom model information."
  Models:
    type: "object"
    properties:
      summary:
        type: "object"
        description: "Summary of all trained custom models."
        properties:
          count:
            type: "integer"
            description: "Current count of trained custom models."
            x-nullable: false
          limit:
            type: "integer"
            description: "Max number of models that can be trained for this subscription."
            x-nullable: false
          lastUpdatedDateTime:
            type: "string"
            format: "date-time"
            description: "Date and time (UTC) when the summary is last updated."
            x-nullable: false
        required:
        - "count"
        - "lastUpdatedDateTime"
        - "limit"
      modelList:
        type: "array"
        description: "Collection of trained custom models."
        items:
          $ref: "#/definitions/ModelInfo"
      nextLink:
        type: "string"
        description: "Link to the next page of custom models."
    description: "Response to the list custom models operation."
  Model:
    type: "object"
    required:
    - "modelInfo"
    properties:
      modelInfo:
        description: "Basic custom model information."
        $ref: "#/definitions/ModelInfo"
      keys:
        description: "Keys extracted by the custom model."
        $ref: "#/definitions/KeysResult"
      trainResult:
        description: "Custom model training result."
        $ref: "#/definitions/TrainResult"
    description: "Response to the get custom model operation."
  KeysResult:
    type: "object"
    required:
    - "clusters"
    properties:
      clusters:
        type: "object"
        description: "Object mapping clusterIds to a list of keys."
        additionalProperties:
          type: "array"
          uniqueItems: true
          items:
            type: "string"
    description: "Keys extracted by the custom model."
  TrainingDocumentInfo:
    type: "object"
    required:
    - "documentName"
    - "errors"
    - "pages"
    - "status"
    properties:
      documentName:
        type: "string"
        description: "Training document name."
      pages:
        type: "integer"
        format: "int32"
        description: "Total number of pages trained."
        x-nullable: false
      errors:
        type: "array"
        description: "List of errors."
        items:
          type: "string"
      status:
        type: "string"
        description: "Status of the training operation."
        enum:
        - "succeeded"
        - "partiallySucceeded"
        - "failed"
        x-ms-enum:
          name: "TrainStatus"
          modelAsString: false
        x-nullable: false
    description: "Report for a custom model training document."
  FormFieldsReport:
    type: "object"
    required:
    - "accuracy"
    - "fieldName"
    properties:
      fieldName:
        type: "string"
        description: "Training field name."
      accuracy:
        type: "number"
        description: "Estimated extraction accuracy for this field."
        x-nullable: false
    description: "Report for a custom model training field."
  FormOperationError:
    type: "object"
    required:
    - "message"
    properties:
      message:
        type: "string"
        description: "Error message."
    description: "Error reported during an operation."
    example:
      message: "message"
  ErrorResponse:
    type: "object"
    required:
    - "error"
    properties:
      error:
        $ref: "#/definitions/ErrorInformation"
  ErrorInformation:
    type: "object"
    required:
    - "code"
    - "message"
    properties:
      code:
        type: "string"
      message:
        type: "string"
  AnalyzeResult:
    type: "object"
    required:
    - "readResults"
    - "version"
    properties:
      version:
        type: "string"
        description: "Version of schema used for this result."
      readResults:
        type: "array"
        description: "Text extracted from the input."
        items:
          $ref: "#/definitions/ReadResult"
      pageResults:
        type: "array"
        description: "Page-level information extracted from the input."
        items:
          $ref: "#/definitions/PageResult"
      documentResults:
        type: "array"
        description: "Document-level information extracted from the input."
        items:
          $ref: "#/definitions/DocumentResult"
      errors:
        type: "array"
        description: "List of errors reported during the analyze operation."
        items:
          $ref: "#/definitions/FormOperationError"
    description: "Analyze operation result."
    example:
      pageResults:
      - tables:
        - cells:
          - rowSpan: 1
            columnSpan: 1
            boundingBox: ""
            isHeader: false
            elements:
            - null
            - null
            rowIndex: 0
            columnIndex: 0
            text: "text"
            isFooter: false
          - rowSpan: 1
            columnSpan: 1
            boundingBox: ""
            isHeader: false
            elements:
            - null
            - null
            rowIndex: 0
            columnIndex: 0
            text: "text"
            isFooter: false
          columns: 1
          rows: 1
        - cells:
          - rowSpan: 1
            columnSpan: 1
            boundingBox: ""
            isHeader: false
            elements:
            - null
            - null
            rowIndex: 0
            columnIndex: 0
            text: "text"
            isFooter: false
          - rowSpan: 1
            columnSpan: 1
            boundingBox: ""
            isHeader: false
            elements:
            - null
            - null
            rowIndex: 0
            columnIndex: 0
            text: "text"
            isFooter: false
          columns: 1
          rows: 1
        keyValuePairs:
        - label: "label"
          value:
            boundingBox: ""
            elements:
            - {}
            - {}
            text: "text"
          key:
            boundingBox: ""
            elements:
            - {}
            - {}
            text: "text"
        - label: "label"
          value:
            boundingBox: ""
            elements:
            - {}
            - {}
            text: "text"
          key:
            boundingBox: ""
            elements:
            - {}
            - {}
            text: "text"
        page: 1
        clusterId: 0
      - tables:
        - cells:
          - rowSpan: 1
            columnSpan: 1
            boundingBox: ""
            isHeader: false
            elements:
            - null
            - null
            rowIndex: 0
            columnIndex: 0
            text: "text"
            isFooter: false
          - rowSpan: 1
            columnSpan: 1
            boundingBox: ""
            isHeader: false
            elements:
            - null
            - null
            rowIndex: 0
            columnIndex: 0
            text: "text"
            isFooter: false
          columns: 1
          rows: 1
        - cells:
          - rowSpan: 1
            columnSpan: 1
            boundingBox: ""
            isHeader: false
            elements:
            - null
            - null
            rowIndex: 0
            columnIndex: 0
            text: "text"
            isFooter: false
          - rowSpan: 1
            columnSpan: 1
            boundingBox: ""
            isHeader: false
            elements:
            - null
            - null
            rowIndex: 0
            columnIndex: 0
            text: "text"
            isFooter: false
          columns: 1
          rows: 1
        keyValuePairs:
        - label: "label"
          value:
            boundingBox: ""
            elements:
            - {}
            - {}
            text: "text"
          key:
            boundingBox: ""
            elements:
            - {}
            - {}
            text: "text"
        - label: "label"
          value:
            boundingBox: ""
            elements:
            - {}
            - {}
            text: "text"
          key:
            boundingBox: ""
            elements:
            - {}
            - {}
            text: "text"
        page: 1
        clusterId: 0
      documentResults:
      - pageRange:
        - 1
        - 1
        docType: "docType"
        fields:
          key:
            boundingBox: ""
            valueTime: "2000-01-23T04:56:07.000+00:00"
            valueNumber: 1.024645700144157789424070870154537260532379150390625
            valueDate: "2000-01-23T04:56:07.000+00:00"
            valueArray:
            - null
            - null
            type: {}
            valuePhoneNumber: "valuePhoneNumber"
            valueObject: {}
            valueString: "valueString"
            elements:
            - null
            - null
            text: "text"
            page: 1
            valueInteger: 1
      - pageRange:
        - 1
        - 1
        docType: "docType"
        fields:
          key:
            boundingBox: ""
            valueTime: "2000-01-23T04:56:07.000+00:00"
            valueNumber: 1.024645700144157789424070870154537260532379150390625
            valueDate: "2000-01-23T04:56:07.000+00:00"
            valueArray:
            - null
            - null
            type: {}
            valuePhoneNumber: "valuePhoneNumber"
            valueObject: {}
            valueString: "valueString"
            elements:
            - null
            - null
            text: "text"
            page: 1
            valueInteger: 1
      readResults:
      - unit: "pixel"
        width: 0.146581298050294517310021547018550336360931396484375
        angle: 36.98842259053452607986400835216045379638671875
        page: 1
        lines:
        - boundingBox: ""
          words:
          - boundingBox: ""
            confidence: {}
            text: "text"
          - boundingBox: ""
            confidence: {}
            text: "text"
          text: "text"
        - boundingBox: ""
          words:
          - boundingBox: ""
            confidence: {}
            text: "text"
          - boundingBox: ""
            confidence: {}
            text: "text"
          text: "text"
        height: 0.59621339166831821554382031536079011857509613037109375
      - unit: "pixel"
        width: 0.146581298050294517310021547018550336360931396484375
        angle: 36.98842259053452607986400835216045379638671875
        page: 1
        lines:
        - boundingBox: ""
          words:
          - boundingBox: ""
            confidence: {}
            text: "text"
          - boundingBox: ""
            confidence: {}
            text: "text"
          text: "text"
        - boundingBox: ""
          words:
          - boundingBox: ""
            confidence: {}
            text: "text"
          - boundingBox: ""
            confidence: {}
            text: "text"
          text: "text"
        height: 0.59621339166831821554382031536079011857509613037109375
      version: "version"
      errors:
      - message: "message"
      - message: "message"
  ReadResult:
    type: "object"
    required:
    - "angle"
    - "height"
    - "page"
    - "unit"
    - "width"
    properties:
      page:
        type: "integer"
        description: "The 1-based page number in the input document."
        minimum: 1
        x-nullable: false
      angle:
        type: "number"
        description: "The general orientation of the text in clockwise direction,\
          \ measured in degrees between (-180, 180]."
        minimum: -180
        maximum: 180
        exclusiveMinimum: true
        x-nullable: false
      width:
        type: "number"
        description: "The width of the image/PDF in pixels/inches, respectively."
        minimum: 0
        x-nullable: false
      height:
        type: "number"
        description: "The height of the image/PDF in pixels/inches, respectively."
        minimum: 0
        x-nullable: false
      unit:
        type: "string"
        description: "The unit used by the width, height and boundingBox properties.\
          \ For images, the unit is \"pixel\". For PDF, the unit is \"inch\"."
        enum:
        - "pixel"
        - "inch"
        x-ms-enum:
          name: "LengthUnit"
          modelAsString: false
        x-nullable: false
      lines:
        type: "array"
        description: "When includeTextDetails is set to true, a list of recognized\
          \ text lines. The maximum number of lines returned is 300 per page. The\
          \ lines are sorted top to bottom, left to right, although in certain cases\
          \ proximity is treated with higher priority. As the sorting order depends\
          \ on the detected text, it may change across images and OCR version updates.\
          \ Thus, business logic should be built upon the actual line location instead\
          \ of order."
        items:
          $ref: "#/definitions/TextLine"
    description: "Text extracted from a page in the input document."
    example:
      unit: "pixel"
      width: 0.146581298050294517310021547018550336360931396484375
      angle: 36.98842259053452607986400835216045379638671875
      page: 1
      lines:
      - boundingBox: ""
        words:
        - boundingBox: ""
          confidence: {}
          text: "text"
        - boundingBox: ""
          confidence: {}
          text: "text"
        text: "text"
      - boundingBox: ""
        words:
        - boundingBox: ""
          confidence: {}
          text: "text"
        - boundingBox: ""
          confidence: {}
          text: "text"
        text: "text"
      height: 0.59621339166831821554382031536079011857509613037109375
  TextLine:
    type: "object"
    required:
    - "boundingBox"
    - "text"
    - "words"
    properties:
      text:
        type: "string"
        description: "The text content of the line."
      boundingBox:
        description: "Bounding box of an extracted line."
        $ref: "#/definitions/BoundingBox"
      words:
        type: "array"
        description: "List of words in the text line."
        items:
          $ref: "#/definitions/TextWord"
    description: "An object representing an extracted text line."
    example:
      boundingBox: ""
      words:
      - boundingBox: ""
        confidence: {}
        text: "text"
      - boundingBox: ""
        confidence: {}
        text: "text"
      text: "text"
  TextWord:
    type: "object"
    required:
    - "boundingBox"
    - "confidence"
    - "text"
    properties:
      text:
        type: "string"
        description: "The text content of the word."
      boundingBox:
        description: "Bounding box of an extracted word."
        $ref: "#/definitions/BoundingBox"
      confidence:
        description: "Confidence value."
        $ref: "#/definitions/Confidence"
    description: "An object representing a word."
    example:
      boundingBox: ""
      confidence: {}
      text: "text"
  BoundingBox:
    type: "array"
    description: "Quadrangle bounding box, with coordinates specified relative to\
      \ the top-left of the original image. The eight numbers represent the four points,\
      \ clockwise from the top-left corner relative to the text orientation. For image,\
      \ the (x, y) coordinates are measured in pixels. For PDF, the (x, y) coordinates\
      \ are measured in inches."
    items:
      type: "number"
      x-nullable: false
    minItems: 8
    maxItems: 8
  PageResult:
    type: "object"
    required:
    - "page"
    properties:
      page:
        type: "integer"
        format: "int32"
        description: "Page number."
        minimum: 1
        x-nullable: false
      clusterId:
        type: "integer"
        format: "int32"
        description: "Cluster identifier."
        minimum: 0
        x-nullable: false
      keyValuePairs:
        type: "array"
        description: "List of key-value pairs extracted from the page."
        items:
          $ref: "#/definitions/KeyValuePair"
      tables:
        type: "array"
        description: "List of data tables extracted from the page."
        items:
          $ref: "#/definitions/DataTable"
    description: "Extracted information from a single page."
    example:
      tables:
      - cells:
        - rowSpan: 1
          columnSpan: 1
          boundingBox: ""
          isHeader: false
          elements:
          - null
          - null
          rowIndex: 0
          columnIndex: 0
          text: "text"
          isFooter: false
        - rowSpan: 1
          columnSpan: 1
          boundingBox: ""
          isHeader: false
          elements:
          - null
          - null
          rowIndex: 0
          columnIndex: 0
          text: "text"
          isFooter: false
        columns: 1
        rows: 1
      - cells:
        - rowSpan: 1
          columnSpan: 1
          boundingBox: ""
          isHeader: false
          elements:
          - null
          - null
          rowIndex: 0
          columnIndex: 0
          text: "text"
          isFooter: false
        - rowSpan: 1
          columnSpan: 1
          boundingBox: ""
          isHeader: false
          elements:
          - null
          - null
          rowIndex: 0
          columnIndex: 0
          text: "text"
          isFooter: false
        columns: 1
        rows: 1
      keyValuePairs:
      - label: "label"
        value:
          boundingBox: ""
          elements:
          - {}
          - {}
          text: "text"
        key:
          boundingBox: ""
          elements:
          - {}
          - {}
          text: "text"
      - label: "label"
        value:
          boundingBox: ""
          elements:
          - {}
          - {}
          text: "text"
        key:
          boundingBox: ""
          elements:
          - {}
          - {}
          text: "text"
      page: 1
      clusterId: 0
  KeyValuePair:
    type: "object"
    required:
    - "confidence"
    - "key"
    - "value"
    properties:
      label:
        type: "string"
        description: "A user defined label for the key/value pair entry."
      key:
        description: "Information about the extracted key in a key-value pair."
        $ref: "#/definitions/KeyValueElement"
      value:
        description: "Information about the extracted value in a key-value pair."
        $ref: "#/definitions/KeyValueElement"
      confidence:
        description: "Confidence value."
        $ref: "#/definitions/Confidence"
    description: "Information about the extracted key-value pair."
    example:
      label: "label"
      value:
        boundingBox: ""
        elements:
        - {}
        - {}
        text: "text"
      key:
        boundingBox: ""
        elements:
        - {}
        - {}
        text: "text"
  KeyValueElement:
    type: "object"
    required:
    - "text"
    properties:
      text:
        type: "string"
        description: "The text content of the key or value."
      boundingBox:
        description: "Bounding box of the key or value."
        $ref: "#/definitions/BoundingBox"
      elements:
        type: "array"
        description: "When includeTextDetails is set to true, a list of references\
          \ to the text elements constituting this key or value."
        items:
          $ref: "#/definitions/ElementReference"
    description: "Information about the extracted key or value in a key-value pair."
    example:
      boundingBox: ""
      elements:
      - {}
      - {}
      text: "text"
  ElementReference:
    type: "string"
    description: "Reference to a line or word."
  DataTable:
    type: "object"
    required:
    - "cells"
    - "columns"
    - "rows"
    properties:
      rows:
        type: "integer"
        description: "Number of rows."
        minimum: 1
        x-nullable: false
      columns:
        type: "integer"
        description: "Number of columns."
        minimum: 1
        x-nullable: false
      cells:
        type: "array"
        description: "List of cells contained in the table."
        items:
          $ref: "#/definitions/DataTableCell"
    description: "Information about the extracted table contained in a page."
    example:
      cells:
      - rowSpan: 1
        columnSpan: 1
        boundingBox: ""
        isHeader: false
        elements:
        - null
        - null
        rowIndex: 0
        columnIndex: 0
        text: "text"
        isFooter: false
      - rowSpan: 1
        columnSpan: 1
        boundingBox: ""
        isHeader: false
        elements:
        - null
        - null
        rowIndex: 0
        columnIndex: 0
        text: "text"
        isFooter: false
      columns: 1
      rows: 1
  DataTableCell:
    type: "object"
    required:
    - "boundingBox"
    - "columnIndex"
    - "confidence"
    - "rowIndex"
    - "text"
    properties:
      rowIndex:
        type: "integer"
        description: "Row index of the cell."
        minimum: 0
        x-nullable: false
      columnIndex:
        type: "integer"
        description: "Column index of the cell."
        minimum: 0
        x-nullable: false
      rowSpan:
        type: "integer"
        description: "Number of rows spanned by this cell."
        minimum: 1
        x-nullable: false
      columnSpan:
        type: "integer"
        description: "Number of columns spanned by this cell."
        minimum: 1
        x-nullable: false
      text:
        type: "string"
        description: "Text content of the cell."
      boundingBox:
        description: "Bounding box of the cell."
        $ref: "#/definitions/BoundingBox"
      confidence:
        description: "Confidence value."
        $ref: "#/definitions/Confidence"
      elements:
        type: "array"
        description: "When includeTextDetails is set to true, a list of references\
          \ to the text elements constituting this table cell."
        items:
          $ref: "#/definitions/ElementReference"
      isHeader:
        type: "boolean"
        description: "Is the current cell a header cell?"
        default: false
        x-nullable: false
      isFooter:
        type: "boolean"
        description: "Is the current cell a footer cell?"
        default: false
        x-nullable: false
    description: "Information about the extracted cell in a table."
    example:
      rowSpan: 1
      columnSpan: 1
      boundingBox: ""
      isHeader: false
      elements:
      - null
      - null
      rowIndex: 0
      columnIndex: 0
      text: "text"
      isFooter: false
  DocumentResult:
    required:
    - "docType"
    - "fields"
    - "pageRange"
    properties:
      docType:
        type: "string"
        description: "Document type."
      pageRange:
        type: "array"
        description: "First and last page number where the document is found."
        items:
          type: "integer"
          minimum: 1
          x-nullable: false
        maxItems: 2
        minItems: 2
      fields:
        type: "object"
        description: "Dictionary of named field values."
        additionalProperties:
          $ref: "#/definitions/FieldValue"
    description: "A set of extracted fields corresponding to the input document."
    example:
      pageRange:
      - 1
      - 1
      docType: "docType"
      fields:
        key:
          boundingBox: ""
          valueTime: "2000-01-23T04:56:07.000+00:00"
          valueNumber: 1.024645700144157789424070870154537260532379150390625
          valueDate: "2000-01-23T04:56:07.000+00:00"
          valueArray:
          - null
          - null
          type: {}
          valuePhoneNumber: "valuePhoneNumber"
          valueObject: {}
          valueString: "valueString"
          elements:
          - null
          - null
          text: "text"
          page: 1
          valueInteger: 1
  FieldValue:
    type: "object"
    required:
    - "type"
    properties:
      type:
        description: "Type of field value."
        $ref: "#/definitions/FieldValueType"
      valueString:
        type: "string"
        description: "String value."
      valueDate:
        type: "string"
        format: "date-time"
        description: "Date value."
        x-nullable: false
      valueTime:
        type: "string"
        format: "date-time"
        description: "Time value."
        x-nullable: false
      valuePhoneNumber:
        type: "string"
        description: "Phone number value."
      valueNumber:
        type: "number"
        description: "Floating point value."
        x-nullable: false
      valueInteger:
        type: "integer"
        description: "Integer value."
        x-nullable: false
      valueArray:
        type: "array"
        description: "Array of field values."
        items:
          $ref: "#/definitions/FieldValue"
      valueObject:
        type: "object"
        description: "Dictionary of named field values."
        additionalProperties:
          $ref: "#/definitions/FieldValue"
      text:
        type: "string"
        description: "Text content of the extracted field."
      boundingBox:
        description: "Bounding box of the field value, if appropriate."
        $ref: "#/definitions/BoundingBox"
      confidence:
        description: "Confidence score."
        $ref: "#/definitions/Confidence"
      elements:
        type: "array"
        description: "When includeTextDetails is set to true, a list of references\
          \ to the text elements constituting this field."
        items:
          $ref: "#/definitions/ElementReference"
      page:
        type: "integer"
        description: "The 1-based page number in the input document."
        minimum: 1
        x-nullable: false
    description: "Recognized field value."
    example:
      boundingBox: ""
      valueTime: "2000-01-23T04:56:07.000+00:00"
      valueNumber: 1.024645700144157789424070870154537260532379150390625
      valueDate: "2000-01-23T04:56:07.000+00:00"
      valueArray:
      - null
      - null
      type: {}
      valuePhoneNumber: "valuePhoneNumber"
      valueObject: {}
      valueString: "valueString"
      elements:
      - null
      - null
      text: "text"
      page: 1
      valueInteger: 1
  FieldValueType:
    type: "string"
    description: "Semantic data type of the field value."
    enum:
    - "string"
    - "date"
    - "time"
    - "phoneNumber"
    - "number"
    - "integer"
    - "array"
    - "object"
    x-ms-enum:
      name: "FieldValueType"
      modelAsString: false
    x-nullable: false
  Confidence:
    type: "number"
    minimum: 0
    maximum: 1
    description: "Confidence value."
    x-nullable: false
  SourcePath:
    type: "object"
    properties:
      source:
        type: "string"
        description: "Url path."
        minLength: 0
        maxLength: 2048
    description: "Url to source data."
    example: "{ \"source\": \"http://example.com/test.jpg\" }"
x-servers:
- url: "https://westus.api.cognitive.microsoft.com"
- url: "https://cognitive-wu.cognitiveservices.azure.com"
- url: "https://api.ProjectOxford.ai"
